/* yo! */

a {
    color: #19334D;
}

strong {
    font-weight: 600;
}

body {
    font-family:Georgia, "Times New Roman", Times, serif;
    background-color: #eee;
}

.header {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header h1 {
    font-weight: normal;
}

.content {
    margin-bottom: 55px;
}

.content_wrapper {
    background-color: white;
    border: solid #ddd 1px;
    padding-top: 55px;
    margin-bottom: 55px;
    padding-bottom: 10px;
}

.content_wrapper {
    font-size: 13pt;
}

.content_wrapper h1,
.content_wrapper h2,
.content_wrapper h3,
.content_wrapper h4,
.content_wrapper h5
{
    margin-top: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
}

.content_wrapper h1 {
    border-bottom: solid #ddd 1px;
}


pre {
    padding: 10px;
    border: solid #dedede 1px;
    background-color: ghostWhite;
    margin-left: 20px;
    font-size: 11pt;
}

code {
    padding-left: 4px;
    padding-right: 4px;
    border: solid #dedede 1px;
    background-color: ghostWhite;
}


code.small {
    font-size: 10pt;
    white-space: nowrap;
}

pre code {
    padding: 0;
    border: 0;
    background-color: inherit;
}


.aside {
    font-size: 10pt;
    font-style: italic;
}

/* Nav */

.nav {
    margin-top: 20px;
    font-size: 10pt;
    margin-bottom: 55px;
}

.nav ul li {
    list-style-type: none;
    margin-left: 0px;
}

.nav ul a {
    font-size: 14pt;
    text-decoration: none;
    color: #4183C4;
    border-left: solid transparent 2px;
}

.nav ul a:hover {
    text-decoration: underline;
}

.nav p {
}


.footer {
    text-align: center;
    background-color: #fafafa;
    border: solid #ddd 1px;
    padding: 10px;
    color: #555;
}
