/* yo! */

body {
    font-family:Georgia, "Times New Roman", Times, serif;
    background-color: #eee;
}

.header {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header h1 {
    font-weight: normal;
}

.content {
}

.content_wrapper {
    background-color: white;
    border: solid #ddd 1px;
    padding-top: 55px;
    padding-bottom: 55px;
}


/* Nav */

.nav {
    margin-top: 20px;
}

.nav ul li {
    list-style-type: none;
    margin-left: 0px;
}

.nav ul a {
    font-size: 14pt;
    text-decoration: none;
    color: #4183C4;
    border-left: solid transparent 2px;
}

.nav ul a:hover {
    text-decoration: underline;
}

.nav p {
}
